# Environment files
.env
.env.*

# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# PyCharm
.idea/

# Node / React frontend
node_modules/
dist/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db